body {
    background: #212121;
}

.wrap {
    display: flex;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}

main {
    background-color: #000000;
    flex: 1;
    overflow-y: auto;
}

/* Banner */
.banner {
    display: flex;
    width: 880px;
    height: 192px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.banner img {
    width: 1200px;
    height: 192px;
    flex-shrink: 0;
}

/* Channel Title */
.channelTitle {
    background-color: #181818;
    display: flex;
    padding: 16px 65px 4px 65px;
    align-items: center;
    justify-content: space-between;
}

.channelProfile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.channelProfileName {
    display: flex;
    flex-direction: column;
    display: flex;
    padding: 18px 0px;
    align-items: flex-start;
}

.channelProfilePic {
    /* width: 104px;
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px; */
    display: flex;
    padding-right: 24px;
    align-items: flex-start;
    gap: 10px;
}

.channelProfilePic>img {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profileImg {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
}

#channelName {
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#subscribers {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Channel Toolbar */
.channelToolbar {
    background-color: #181818;
    display: flex;
    padding: 0px 65px;
    align-items: center;
}

.toolbars {
    /* Layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    color: var(--white-color, #FFF);
    /* Fonts Attribute */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.toolbars a {
    display: inline-flex;
    padding: 16px 32px 15px 32px;
}

.toolbars a:hover {
    border-bottom: 1px solid #AAA;
}

.toolbarSearch {
    display: flex;
    padding-left: 0px;
    align-items: flex-start;
    /* gap: 202px; */
    padding: 0px 24px;
}

/* Small Video */
.smallVideo {
    display: flex;
    padding: 24px 287px 24px 65px;
    align-items: flex-start;
}

.player {
    display: flex;
    padding-right: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.videoDesc {
    background-color: #000000;
    display: flex;
    padding-bottom: 88px;
    flex-direction: column;
    align-items: flex-start;
}

.videoTitle {
    display: flex;
    padding-bottom: 19px;
    flex-direction: column;
    align-items: flex-start;
}

#title {
    /* Layout */
    display: flex;
    padding-bottom: 20px;
    align-items: flex-start;
    gap: 10px;
    /* Fonts */
    color: var(--white-color, #FFF);
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.14px;
}

#time {
    /* padding-bottom: 19px; */
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#description {
    /* Layout */
    display: left;
    width: 400px;
    height: 80px;
    justify-content: center;
    align-items: center;
    /* Font Attributes */
    color: var(--white-color, #FFF);
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
}

/* Playlist */
.playlistContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.playList {
    display: flex;
    padding: 0px 65px;
    flex-direction: column;
    align-items: flex-start;
}

.playlistHeader {
    display: flex;
    padding-top: 8px;
    align-items: center;
    flex-direction: row;
}

.playBtn {
    display: flex;
    padding: 6px 16px;
    align-items: flex-start;
    flex-direction: row;
}

.playBtn img {
    display: flex;
    width: 12px;
    height: 16px;
    border: 4px 6px;
    justify-content: center;
    align-items: center;
}

.playBtn p {
    /* Layout */
    display: flex;
    padding: 3px 0px 2px 8px;
    align-items: flex-start;
    gap: 10px;

    /* Font Attribute */
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.contentsList {
    display: flex;
    padding: 24px 0px;
    align-items: flex-start;
}

.playlistVideo {
    display: flex;
    width: 214px;
    padding-right: 4px;
    flex-direction: column;
    align-items: flex-start;
}

.playThumbnail {
    width: 210px;
    height: 118px;
}

.playlistDesc {
    display: flex;
    width: 186px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.plVideoName {
    /* Layout */
    display: flex;
    padding: 8px 0px;
    align-items: flex-start;
    gap: 10px;
    /* Font Attributes */
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.plVideoInfo {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* aside와 main을 가로로 배열하기 위한 컨테이너 스타일 */
.wrap {
    display: flex;
    /* overflow-y: auto;  */
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* aside 영역 스타일 */
aside {
    overflow-y: auto;
}

.plVideoInfo {
    color: #AAA;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.playList a{
    color: #AAA;
    text-decoration: none;
    display: inline;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.playlistHeader{
    display: flex;
    color: white;
}

.play_all{
    color: #AAA;
    display: inline;
}

.playBtn img{
    filter: invert(100%);
    width: 25px;
    height: 25px;
}   
