/* Header */

header {
    background: #212121;
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 56px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header img:hover {
    cursor: pointer;
}

/* Hamburger Menu */
.hamburger {
    display: flex;
    padding: 8px;
    margin: 8px;
    align-items: flex-start;
    gap: 10px;
    /* 다른 부분 */
    margin-left: 16px;    
}

.hamburger:hover {
    background-color: #121212;
    border-radius: 32px;
}

/* Image Attribute */
.yt-button {
    display: flex;
    background: #212121;
    border: 0px;
    padding: 18px 14px 18px 16px;
    gap: 10px;
}

/* Youtube Logo */
.yt-button img {
    width: 90px;
    height: 20px;
}

/* 검색창 */
.search-Box {
    /* 검색 div*/
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.search-Box button {
    /* 검색버튼*/
    background: #303030;
    display: flex;
    width: 50px;
    height: 39px;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.search-Box .search-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: #303030;
}

.search-Box .mic-icon {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: #000;
    margin-left: 3px;
}

.search-Box input {
    /* 검색창*/
    border: 1px solid #303030;
    border-radius: 2px 2px;
    background: #121212;
    width: 362px;
    height: 34px;
    flex-shrink: 0;
    border: 0px;
}

/* profile */
.profile {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.profile img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding: 8px;
    gap: 10px;
}

.profile>img:nth-child(-n+3):hover {
    background-color: #121212;
    border-radius: 32px;
}

.profile>img:nth-child(4) {
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.search-border {
    border: 2px solid rgb(51, 49, 49);
    display: flex;
}

.search-border input {
    color: #FFF;
    padding-left: 3%;
}