/* Main Page */

body {
    background: #0f0f0f;
    font-family: Roboto;
    font-size: 10px;
    line-height: normal;
    overflow-x: hidden;
    width: 100vw;
}

.wrap {
    display: flex;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

section {
    position: absolute;
    left: 240px;
    width: calc(100% - 240px);
}

/* Sidebar */
.top:first-child > a:first-child {
    background-color: #303030;
}

.sidebar.active .top > a {
    background-color: #212121;
}

/* nav */
.top-menu {
    background-color: #0f0f0f;
    width: calc(100% - 240px);
    height: 56px;
    position: fixed;
    top: 56px;
    white-space: nowrap;
    z-index: 100;

    display: flex;
    align-items: center;
}

.top-menu>div {
    padding-left: 2%;
}

.top-menu button {
    /* Layout */
    display: inline-flex;
    padding: 8px 12px;
    margin: 5px;
    flex-direction: column;
    align-items: flex-start;

    /* Style */
    border-radius: 8px;
    border: 0px solid #AAA;
    background: #303030;

    /* Font */
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-menu button:first-child {
    background-color: white;
    color: #212121;
    margin-left: 0px;
}

.top-menu button:hover {
    background-color: #000;
    cursor: pointer;
}

.top-menu button:focus {
    background-color: white;
    color: #303030;
}

.container {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 20px;

    width: 97.661%;
    position: absolute;
    top: 56px;
}

.container-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    overflow: auto;
}


/* item과 버튼이 겹치게 설정 */
.button Nextbutton {
    width: 20px;
    height: 20px;
    z-index: 5px;
    right: 70px;
}

.title {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 2rem;
    line-height: 20px;
    white-space: nowrap;
    margin-top: 12px;
    margin-bottom: 6px;
}

.view {
    color: #AAA;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.name {
    color: #AAA;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.title-name-view-img {
    /* width: 252px; */
    align-items: flex-start;
}

.title-name-view-img>a {
    display: flex;
    padding: 12px 12px 26px 0px;
    align-items: flex-start;
    gap: 10px;
    float: left;
}

.title-image {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #AAA;
}

.video {
    width: 100%;
    aspect-ratio: 1000 / 561;
    border-radius: 0;
    /* 초기값: 모서리가 없는 상태 */
    display: none;
    overflow: hidden;
    /* 추가: 요소가 변할 때 모서리를 감추기 위해 */
    animation: revealVideo 0.3s linear forwards;
    /* 애니메이션 적용 */
}

@keyframes revealVideo {
    from {
        border-radius: 10px;
        /* 시작 값: 둥근 모서리 */
    }

    to {
        border-radius: 0;
        /* 종료 값: 모서리가 없는 상태 */
    }
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.item-info {
    width: 276px;
    height: 74px;
}

.thumbnail {
    display: flex;
    /* width: 276px;
    height: 155px; */
    width: 100%;
    height: auto;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    /* 영상이 썸네일 영역을 벗어나지 않도록 설정합니다. */
}

.video-info {
    display: flex;
    width: 252px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}