/* Main Page */

body {
    background: #212121;
    overflow-y: hidden;
}

.wrap {
    display: flex;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* nav */
.top-menu {
    margin-left: 2px;
    background-color: #212121;
}

.top-menu button {
    /* Layout */
    display: inline-flex;
    padding: 8px 12px;
    margin: 5px;
    flex-direction: column;
    align-items: flex-start;

    /* Style */
    border-radius: 32px;
    border: 0.3px solid #AAA;
    background: #303030;

    /* Font */
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-menu button:first-child{
    background-color: white;
    color: #212121;
}

.top-menu button:hover {
    background-color: #000;
    cursor: pointer;
}

.top-menu button:focus {
    background-color: white;
    color: #303030;
}
section {
    width: 100%;
}
.container {
    /* width: 100vh; */
    background: skyblue; /*테스트용 컬러*/
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    margin-top: 15px;

    overflow-y: auto;
    height: 100vh;
}

.search-border {
  border: 2px solid rgb(51, 49, 49);
  display: flex;
}

.search-border input {
    color: #FFF;
    padding-left: 3%;
}

/* item과 버튼이 겹치게 설정 */
.button Nextbutton {
    width: 20px;
    height: 20px;
    z-index: 5px;
    right: 70px;
}

.title {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    white-space: nowrap;
}

.view {
    color: #AAA;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}

.name {
    color: #AAA;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-image {
    float: left;
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0px 12px 26px 0px;
    align-items: flex-start;
    gap: 10px;
}

.title-name-view-img {
    padding-top: 12px;
    align-items: flex-start;
}

a {
    text-decoration: none;
    color: #AAA;
}

.video {
    width: 276px;
    height: 155px;
    border-radius: 0;
    /* 초기값: 모서리가 없는 상태 */
    display: none;
    overflow: hidden; /* 추가: 요소가 변할 때 모서리를 감추기 위해 */
    animation: revealVideo 0.3s linear forwards; /* 애니메이션 적용 */
}

@keyframes revealVideo {
    from {
      border-radius: 10px; /* 시작 값: 둥근 모서리 */
    }
    to {
      border-radius: 0; /* 종료 값: 모서리가 없는 상태 */
    }
  }

.item {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    display: flex;
    width: 276px;
    height: 155px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden; /* 영상이 썸네일 영역을 벗어나지 않도록 설정합니다. */
}

.video-info {
    display: flex;
    width: 204px;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}