/* Sidebar */

::-webkit-scrollbar {
    display: none;
}

.sidebar {
    background: #212121;
    color: #f1f1f1;
    float: left;
    width: 240px;
    height: 100vh;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: flex-start;
    /* 230801 */
    overflow-y: auto;
}

.top a:first-child {
    margin-top: 10px;
}

.sidebar a {
    color: #fff;
    display: flex;
    padding: 5%;
    padding-left: 10%;
    text-decoration-line: none;
    align-items: center;
}
.sidebar p {
    margin-left: 20px;
}

.sidebar a img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.sidebar hr {
    width: 100%;
    border: 0;
    height: 1px;
    background: #303030;
}

.sidebar h3 {
    font-weight: 700;
    font-size: 14px;
    padding-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #AAA;
}

/* 햄버거 활성화시 */
.active {
    width: 100px;
    display: block;
    justify-content: center;
    align-items: center;
}
.active .gone-menu {
    display: none;
}
.sidebar .active a {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;
}
.active p {
    margin-left: 0;
}


/*  */
.sidebar a:hover {
    background: #303030;
}

.sidebar a:focus {
    background: #303030;
}

.credit {
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}