.buttoncon {
    position: relative;
    cursor: pointer;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    background-color: #f1f1f1;
    color: black;

    border-radius: 20px;
}

.button:hover {
    cursor: pointer;
}

#options {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;

    background-color: #282828;    
    text-decoration: none;
    border-radius: 20px;
}

#options > a {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px 10px;
    text-decoration: none;
    color: #f1f1f1;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

#options > a:hover {
    background-color: #535353;
    width: 84%;
}

#options img {
    filter: invert(100%);
}

.buttoncon img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

/* .buttoncon.clicked {
    background-color: #000;
} */