@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

body{
    background: var(--background-color, #212121);
}

.navi{
    display: flex;
    align-content: center;
    align-items: center;
}



#yt-button{
    background: var(--background-color, #212121);
    border: 0px;
}
#Youtube-Logo{
    width: 90px;
    height: 20px;
}

/* 사이드바 */
.Sidebar{
    background: var(--background-color, #212121);
    color: #f1f1f1;
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    width: 240px;
    height: 1395px;
    padding: 0px 16px 42px 0px;
    flex-direction: column;
    align-items: flex-start;
}

.line{  /* 사이드바 각 섹션 별 줄 */
    width: 224px;
    height: 1px;
    background: var(--border-color, #303030);

}

.Top{
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
}

.top menu{
    background: var(--border-color, #303030);
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

a {
    color: var(--white-color, #FFF);        
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration-line:none ;
}

img{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.top>div{
    display: flex;
    width: 192px;
    align-items: flex-start;
    gap: 24px;
}
/* 검색창 */
.search-Box{ /* 검색 div*/
    display: flex;  
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}
button{ /* 검색버튼*/
    background: #303030;
    display: flex;  
    width: 50px;
    height: 36px;
    padding: 6px 13px;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.search-icon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: #303030;
}
input{ /* 검색창*/
    border-radius: 2px 0px 0px 2px;
    background: #121212;
    width: 362px;
    height: 34px;
    flex-shrink: 0;
    border: 0px;
}

.mic{
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background: var(--black, #000);
    margin-left: 3px;
}       
.